.allcategory {
  background-image: url("/src/images/calendar.png");
  background-repeat: no-repeat;
  background-position: right top 226px;
  padding-top: 226px;
  margin-bottom: 156px;
}

.allcategory h3 {
  color: #5e6282;
  font-size: 18px;
  line-height: 27px;
}

.allcategory h2 {
  color: #14183e;
  font-size: 50px;
  line-height: 64px;
}

.categorycards {
  padding-top: 96px;
}

.divAvion {
  position: relative;
  border-radius: 36px;
  background-color: white;
}

.divAvion img {
  position: absolute;
  top: -35px;
  right: 40px;
}

.divAvion .allCategoryCard {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
}

.divAvion .allCategoryCard::after {
  content: "";
  position: absolute;
  background: url("/src/images/fondavion2.png") transparent no-repeat;
  width: 100px;
  height: 100px;
  left: -40px;
  bottom: -40px;
  z-index: -1;
}
